<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Subwayに気軽に行きたくなるアプリ</title>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <header>
      <h1>気軽にサブウェイを食べよう！</h1>
    </header>
    <main>
      <section class="top-copy">
        <h1>かんたんサブウェイカスタマイズ</h1>
      </div>
      <section class="sand-choice">
        <h2>サンドイッチを選ぼう！</h2>
        <ul>
          <li>サンド</li>
          <li>サンド</li>
          <li>サンド</li>
          <li>サンド</li>
          <li>サンド</li>
          <li>サンド</li>
          <li>サンド</li>
          <li>サンド</li>
          <li>サンド</li>
          <li>サンド</li>
          <li>サンド</li>
          <li>サンド</li>
          <li>サンド</li>
          <li>サンド</li>
          <li>サンド</li>
        </ul>
      </section>
      <section class="bread-choice">
        <h2>パンを選ぼう！</h2>
        <ul>
          <li>パン</li>
          <li>パン</li>
          <li>パン</li>
          <li>パン</li>
          <li>パン</li>
        </ul>
      </section>
      <section class="toping-choice">
        <h2>トッピングを選ぼう！</h2>
        <ul>
          <li>トッピング</li>
          <li>トッピング</li>
          <li>トッピング</li>
          <li>トッピング</li>
          <li>トッピング</li>
          <li>トッピング</li>
          <li>トッピング</li>
          <li>トッピング</li>
        </ul>
      </section>
      <section class="vege-choice">
        <h2>野菜の量を選ぼう！</h2>
        <div class="vege">
          <h3>野菜</h3>
          <ul>
            <li>普通</li>
            <li>多め</li>
            <li>上限</li>
            <li>少なめ</li>
            <li>抜き</li>
          </ul>
        </div>
        <div class="vege">
          <h3>野菜</h3>
          <ul>
            <li>普通</li>
            <li>多め</li>
            <li>上限</li>
            <li>少なめ</li>
            <li>抜き</li>
          </ul>
        </div>
        <div class="vege">
          <h3>野菜</h3>
          <ul>
            <li>普通</li>
            <li>多め</li>
            <li>上限</li>
            <li>少なめ</li>
            <li>抜き</li>
          </ul>
        </div>
        <div class="vege">
          <h3>野菜</h3>
          <ul>
            <li>普通</li>
            <li>多め</li>
            <li>上限</li>
            <li>少なめ</li>
            <li>抜き</li>
          </ul>
        </div>
        <div class="vege">
          <h3>野菜</h3>
          <ul>
            <li>普通</li>
            <li>多め</li>
            <li>上限</li>
            <li>少なめ</li>
            <li>抜き</li>
          </ul>
        </div>
        <div class="vege">
          <h3>野菜</h3>
          <ul>
            <li>普通</li>
            <li>多め</li>
            <li>上限</li>
            <li>少なめ</li>
            <li>抜き</li>
          </ul>
        </div>
        <div class="vege">
          <h3>野菜</h3>
          <ul>
            <li>普通</li>
            <li>多め</li>
            <li>上限</li>
            <li>少なめ</li>
            <li>抜き</li>
          </ul>
        </div>
        <div class="vege">
          <h3>野菜</h3>
          <ul>
            <li>普通</li>
            <li>多め</li>
            <li>上限</li>
            <li>少なめ</li>
            <li>抜き</li>
          </ul>
        </div>
      </section>
      <section class="souce-choice">
        <h2>ドレッシングを選ぼう！</h2>
        <ul>
          <li>ドレッシング</li>
          <li>ドレッシング</li>
          <li>ドレッシング</li>
          <li>ドレッシング</li>
          <li>ドレッシング</li>
          <li>ドレッシング</li>
          <li>ドレッシング</li>
          <li>ドレッシング</li>
        </ul>
      </section>
      <section class="result">
        <a href="result.html">できあがり〜</a>
      </section>
    </main>
  </body>
 </html>