{% extends "base.html" %}

{% block body %}
<main>
  <!-- トップメッセージ -->
  <section class="card-body bg-warning text-center p-5">
    <h1 class="card-title">Let's Make Your Sandwich!!</h1>
    <p class="card-text">あなただけのサブウェイのサンドイッチを考えよう</p>
  </section>

  <!-- 選択部分 -->
  <section>
    {% for error in form.errors %}
      <p class="error"><strong>Error:</strong>{{ error }}</p>
    {% endfor %}

    <form action="/result" method="POST">
      {{ form.hidden_tag() }}

      <!-- サンド選択 -->
      <div>
        <h2>{{ form.sand.label }}</h2>
        {% for sandchoice in form.sand %}
        <tr>
          <td>{{ sandchoice }}</td>
          <td>{{ sandchoice.label }}</td>
        </tr>
        {% endfor %}
      </div>

      <!-- パン選択 -->
      <div>
        <h2>{{ form.bread.label }}</h2>
        {% for breadchoice in form.bread %}
        <tr>
          <td>{{ breadchoice }}</td>
          <td>{{ breadchoice.label }}</td>
        </tr>
        {% endfor %}
      </div>

      <!-- トッピングを選択 -->
      <div>
        <h2>{{ form.topping.label }}</h2>
        <p>トッピングをつけたくない場合は"なし"を選択してね</p>
        {% for toppingchoice in form.topping %}
        <tr>
          <td>{{ toppingchoice }}</td>
          <td>{{ toppingchoice.label }}</td>
        </tr>
        {% endfor %}
      </div>


    </form>
  </section>

</main>
{% endblock %}